@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-blue: #3f51b5;
  --color-green: #54ba54;
  --color-yellow: #e7ef37;
  --color-orange: #ff9400;
  --color-light-blue: #cdd5e9;
  --color-light-green: #c8e8c7;
  --color-light-yellow: #f4f4d7;
  --color-light-orange: #f9ddb3;
  --color-white: #fff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 300px repeat(12, 1fr);
  grid-template-rows: 60px 1fr;
  min-height: 100vh;
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

ul {
  margin-left: 2rem;
}

section > ul {
  margin-bottom: 1.5em;
}

header {
  grid-column: 1/14;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

main {
  grid-column: 2/14;
  grid-row: 2/13;
  padding: 2rem;
}

aside {
  grid-column: 1/2;
  grid-row: 2/13;
}

aside > div {
  position: sticky;
  top: 0;
  left: 0;
  text-align: right;
  padding: 1rem 5rem 1rem 0;
}

aside > div h1 {
  margin-bottom: 2rem;
}

summary {
  list-style: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

summary::after {
  content: " ►";
  font-size: 0.5rem;
  position: relative;
  top: -0.1rem;
  left: 0.5rem;
}
details[open] summary:after {
  content: " ▼";
}

details > ul {
  list-style: none;
  position: relative;
  top: -2rem;
}

details > ul li a {
  color: #000;
}

.color-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.color > div {
  width: 100px;
  height: 100px;
  border: 1px solid #bbb;
}

.blue {
  background-color: var(--color-blue);
}

.green {
  background-color: var(--color-green);
}

.yellow {
  background-color: var(--color-yellow);
}

.orange {
  background-color: var(--color-orange);
}

.light-blue {
  background-color: var(--color-light-blue);
}

.light-green {
  background-color: var(--color-light-green);
}

.light-yellow {
  background-color: var(--color-light-yellow);
}

.light-orange {
  background-color: var(--color-light-orange);
}

.typography {
  margin-bottom: 1.5rem;
}

.fake-heading.h1 {
  font-size: 58px;
  line-height: 60px;
  letter-spacing: -3%;
}

.fake-heading.h2 {
  font-size: 44px;
  line-height: 54px;
  letter-spacing: -3%;
}

.fake-heading.h3 {
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -2%;
}

.fake-heading.h4 {
  font-size: 25px;
  line-height: 25.5px;
  letter-spacing: 0;
}

.fake-heading.h5 {
  font-size: 21px;
  line-height: 34px;
  letter-spacing: 0;
}

.fake-paragraph {
  font-size: 21px;
  line-height: 34px;
  letter-spacing: 0;
}

.fake-paragraph.small {
  font-size: 17px;
  line-height: 23px;
}

.button-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#buttons > p {
  margin-bottom: 1rem;
}

button {
  padding: .6em 2em;
  border-radius: 5em;
  color: var(--color-white);
  border: none;
  background-color: var(--color-blue);
  font-size: 17px;
}

button.small {
  padding: .3em 2em;
}

#links {
  padding-bottom: 2rem;
}

.fake-link {
  font-size: 17px;
  color: var(--color-blue);
  margin-right: 1rem;
  position: relative;
  font-weight: 600;
}

.fake-link.hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  bottom: -5px;
}

label {
  display: block;
  margin-bottom: 1em;
}

.icon {
  width: 24px;
}

/* input {
  border: none;
  border-bottom: 0.15rem solid #dddee0;
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 300px;
  margin-bottom: 1.5rem;
}

input.hover {
  box-shadow: 0 0 0 0.33rem var(--color-primary-transparent);
}

input.focus {
  border-bottom-color: var(--color-primary);
} */
